<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/fotos-gratis/conjunto-de-ferramentas-manual-definido-no-piso-de-madeira_1150-15367.jpg?w=1480&t=st=1675304443~exp=1675305043~hmac=c70bd7ce524913e8a6f5b9d90dbb2b07187ac05814be95be332d095397e0137b);">
  <div class="container">
    <h1>Encontre a ferramenta que você precisa!</h1>
    <p>Ou empreste as suas ferramentas.</p>
    <% unless current_user %>
      <%= link_to "Cadastre-se", new_user_registration_path, class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>


<p class="recentes">Ferramentas recentes</p>


<div class="cards">
  <% @tools.each do |tool|%>
    <div class="card-trip">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://m.media-amazon.com/images/I/51rP6L10GKL._AC_SX569_.jpg)">
          <p style="text-align: center"> <%= link_to tool.name, tool_path(tool), class: "text-decoration-none text-reset" %>
          <br><span style="font-size: 14px"><%="R$ #{tool.price_cents / 100},00"%></span></p>
        </div>
    </div>
  <% end %>
</div>
