.navbar-lewagon {
  justify-content: space-between;
  background: #383838;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 192px;
  height: 40px;
}

.navbar-nav .nav-item .nav-link {
  color:white;
}

 .navbar-nav .nav-item .nav-link:hover {
  color: #f73013;
}
