// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";


@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/_navbar_search";
@import "components/_footer";



#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 130px;    /* altura do rodapé */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;            /* altura do rodapé */
}


h2 {
padding: 40px;
}

.form-inputs {
  width: 500px;
}

#content-wrap{
  width: 400px;
  margin: 0 auto;
}


.cadastrese {
  width: 500px;
  margin: 0 auto;
}
