<h2>Olá! <%= @resource.email %>!</h2>

<p>Alguém solicitou um link para trocar sua senha. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore seu e-mail</p>
<p>Sua senha não será alterada até você acessar o link acima, e criar uma nova senha.</p>
